# Visual Studio временные папки
obj/
.vs/

# Файлы пользовательских настроек
*.user
*.suo
*.userprefs
*.pidb

# Отладочные файлы
*.pdb

# Логи
*.log

# Резервные копии
*.bak
*.tmp

# Папка с картинками
media/

# Архивы
*.zip
*.rar
*.7z 
